version: '3.1'
services:
  postgres:
    image: postgres:latest
    container_name: quarkus-db
    environment:
      POSTGRES_USER: quarkus
      POSTGRES_PASSWORD: quarkus
      POSTGRES_DB: quarkus
    ports:
      - "5432:5432"
    restart: always